body{
    background-color: rgba(0, 0, 0, 0.904);
    zoom: 57%;
}
h2{
    font-size: 50px;
    text-shadow: 4px 4px red;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}
canvas {
    background-image: url("Particles.gif");
    background-size: cover;
    border-style: solid;
    border-width: 20px;
    border-color: rgba(251, 251, 251, 0.623);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-shadow: 0.5px 0.5px red;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    text-align: center;
}