body {
    
    background-color: lightsalmon;
    color:black;
    padding: 5px;
    margin: 15px;
    border: solid;
    border-color: purple;

}


#Encabezado {

    color: indigo;
    padding: 2px;
    margin: 10px;
    border: solid;
    border-color: lightseagreen;
    font-size: 20px;
    text-align: center;
}

#Tabla--General {
    
    width: 100%;
}

#Fila--Foto {

    width: 5%;
    
}

#Tabla--Foto{

    
    vertical-align: 0%;
    color: black;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    
}

#Foto{
    border: 4px solid black;
    margin: 0%;
    width: 100%;
    text-align: center;
    vertical-align: 0%;
  
}

#Fila--Info {

    width: 100%;
    
}

#Tabla--DatosMi{

    color: black;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border: solid;
    border-color: black;

}


#Tabla--Datos {

    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;
    width: 750%;

}


#Tabla--SobreMi {

    color: black;
    font-size: 16.2px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;
    width: 800%;

}

#Fila--Trayectoria {

    width: 100%;
    
}

#Tabla--Trayectoria{

    color: black;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border: solid;
    border-color: black;

}

#Tabla--Estudios {

    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;
    width: 775px;


}

#Tabla--Experiencia {

    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;
    width: 750px;

}

#Fila--Interes {

    width: 100%;
    
    
}

#InteresCancion{

    color: black;
    font-size: 15px;
    padding: 2px;
    margin-left: 500px;
    border: solid;
    border-color: black;

}

#Tabla--Interes {
    
    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;

}

#Tabla--Audio {

    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: solid;
    border-color: lightseagreen;
    text-align: center;

}

audio {

    background-color: lightseagreen;
    margin-left: 1%;
    margin-right: 5%;
    
}

h2 {

    color: indigo;
    padding: 3px;
    margin: 10px;
    border: solid;
    border-color: black;
    text-align: center;

}

